*.class

# Package Files #
*.jar
*.war
*.ear

# Build Artifacts #
build/
dist/

# User Specific Project Settings #
nbproject/*
nbproject/private/
!nbproject/project.properties
!nbproject/project.xml
!nbproject/configurations.xml
